@font-face {
  font-family: "Fira Sans";
  src: url("./Fira\ Sans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./Fira\ Sans/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./Fira\ Sans/FiraSans-Regular.ttf") format("truetype");
  font-size: 400;
}